{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Add menu</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 signup-container">
    <div class="title">
        <h2>Restaurant</h2>
        <div class="stepline">
            <div class="step">
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">กรอกข้อมูลส่วนตัว</label>
                </div>
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">กรอกข้อมูลร้านอาหาร</label>
                </div>
                <div class="stepicon">
                    <div class="circleiconnow"></div>
                    <label for="step">เพิ่มเมนูอาหาร</label>
                </div>
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">ลงทะเบียนเสร็จสิ้น</label>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" action=" {% url 'add_menu' %}?restaurant_name={{ restaurant_name }}" class="signup-form"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="position">
            <div class="form-input-file">
                <div class="image-container" style="display: flex; flex-direction: column; align-items: center;">
                    <div class="image-preview-circle"
                        style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden; margin-top: 10px; display: flex; justify-content: center; align-items: center; border: 3px solid #ccc;">
                        <img id="image_preview" src="#" alt="Image Preview"
                            style="display: none; width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <label for="menu_picture" class="form-title" style="margin-top: 10px;">Add your picture
                        here!</label>
                </div>
                <input type="file" class="form-input" id="menu_picture" name="menu_picture" onchange="previewImage();"
                    style="display: none;">
            </div>
            <div class="inputposition">
                <div class="form-section">
                    <label for="food_name" class="form-title">ชื่ออาหาร</label>
                    <input type="text" placeholder="Enter your food name" class="form-input" id="food_name"
                        name="food_name" required>
                </div>

                <div class="form-section">
                    <label for="food_category" class="form-title">ประเภทอาหาร</label>
                    <input type="text" placeholder="Enter your category" class="form-input" id="food_category"
                        name="food_category" required>
                </div>

                <div class="form-section">
                    <label for="about" class="form-title">เกี่ยวกับ</label>
                    <input type="text" placeholder="Enter your food description here" class="form-input" id="about"
                        name="about" required>
                </div>

                <div class="form-section">
                    <label for="price" class="form-title">ราคา</label>
                    <input type="number" placeholder="0.00" class="form-input" id="price" name="price" required>
                    <span>บาท</span>
                </div>

                <input type="hidden" name="user_type" value="{{ user_type }}">
                <input type="hidden" name="restaurant_name" id="restaurant_name" value="{{ restaurant_name }}">



                <div class="form-button">
                    <button type="submit" class="button">ถัดไป</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    // ฟังก์ชันที่ใช้แสดงรูปพรีวิวเมื่อมีการเลือกไฟล์
    function previewImage() {
        var file = document.getElementById("menu_picture").files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var image = document.getElementById("image_preview");
            image.src = e.target.result;
            image.style.display = "block";
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

{% endblock %}