{% extends "base.html" %}
{% load static %}
{% block title %}
<title>KINKORN Home</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}">
{% endblock %}

{% block content %}
<div class="maincontainer">
    <div class="text-con">
        <h1>KINKORN</h1>
        <h1>กินก่อน</h2>
            <p>เว็บไซต์สั่งอาหารส่งหน้าในโรงอาหาร</p>
            <div class="button-auth">
                <button class="explore-btn">Explore Your Meal!</button>
                {% if user.is_authenticated %}
                {% else %}
                <span class="auth-links">
                    <a href="/login/">login</a> | <a href="/choose_regis/">sign up</a>
                </span>
                {% endif %}
            </div>
    </div>
    <div class="image-con">
        <img src="{% static '/css/homepic.png' %}" alt="home pic" class="image image1">
    </div>
</div>



{% endblock %}