{% extends "base.html" %}
{% load static %}
{% block title %}
<title>KINKORN Login</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login for start your meal !</h1>
    <div class="login-container">
        <!-- 
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        -->
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter your username" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Enter your password" id="password" name="password" required>
            </div>
            <div class="signuphere">
                <p1>Don't have an account ?</p1>
                <span class="auth-links">
                    <a href="/choose_regis/">Sign up here</a>
                </span>
            </div>
            <div class="input-group">
                <div class="buttom">
                    <button type="submit">Log in</button>
                </div>

            </div>

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    setTimeout(function () {
        const alert = document.querySelector('.alert');
        if (alert) {
            alert.style.transition = "opacity 0.5s ease";
            alert.style.opacity = 0;
            setTimeout(function () {
                alert.remove();
            }, 500);
        }
    }, 3000);
</script>

{% endblock %}