{% extends "base.html" %}
{% load static %}

{% block title %}
<title>KINKORN Restaurants</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="header">รายชื่อร้านอาหาร</h2>
    <div class="card-container">
        {% if restaurants %}
        {% for restaurant in restaurants %}
        <div class="card restaurant-card">
            <h3>{{ restaurant.restaurant_name }}</h3>
            <img src="{{ restaurant.restaurant_picture.url }}" alt="{{ restaurant.restaurant_name }}" class="restaurant-image">
            <p>เวลาเปิด-ปิด: {{ restaurant.open_close_time }}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'menu_list' restaurant.id %}" class="button button-primary">ดูเมนู</a>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>ยังไม่มีร้านอาหารในระบบ</p>
        {% endif %}
    </div>
</div>
{% endblock %}

