{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Add menu</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 signup-container">
    <div class="title">
        {% if user_type == "restaurant" %}
        <h2>Restaurant</h2>
        <div class="stepline">
            <div class="step">
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">กรอกข้อมูลส่วนตัว</label>
                </div>
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">กรอกข้อมูลร้านอาหาร</label>
                </div>
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">เพิ่มเมนูอาหาร</label>
                </div>
                <div class="stepicon">
                    <div class="circleiconnow"></div>
                    <label for="step">ลงทะเบียนเสร็จสิ้น</label>
                </div>
            </div>
        </div>
        {% else %}
        <h2>Customer</h2>
        <div class="stepline">
            <div class="step">
                <div class="stepicon">
                    <div class="circleiconnow"></div>
                    <label for="step">กรอกข้อมูลส่วนตัว</label>
                </div>
                <div class="stepicon">
                    <div class="circleicon"></div>
                    <label for="step">ลงทะเบียนเสร็จสิ้น</label>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="welcometitle">
    <h1>Welcome To KINKORN</h1>
    <button type="submit" class="button">เสร็จสิ้น</button>
</div>
</div>

{% endblock %}