body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;

}

.container {
    width: auto;
    margin: 0 auto;
    font-family: inherit;
    color: #000000;
}

/**************************ส่วนหัวเมนู + ช่องทางชำระเงิน************************/
.grid-title {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* กำหนดคอลัมน์ให้ขยายตามขนาดหน้าจอ */
    gap: 0px;
    justify-items: center;
}
.menu-title {
    width: 600px;
    height: auto;
    align-items: center;
    padding-left: 20px;
    /*รูปแบบกล่อง*/
    font-family: inherit;
    border-radius: 5px;
    color: white;
    background-color: #AF1F1F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.payment-title {
    width: 500px;
    height: auto;
    align-items: center;
    padding-left: 20px;
    /*รูปแบบกล่อง*/
    font-family: inherit;
    border-radius: 5px;
    color: white;
    background-color: #AF1F1F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*************************ส่วนตารางเมนู + ตารางช่องทางชำระเงิน************************/
.grid-tables {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); /* กำหนดคอลัมน์ให้ขยายตามขนาดหน้าจอ */
    gap: auto;
    align-items: start;
}
.menu-table {
    width: auto;
    max-height: 400px; /* กำหนดความสูงสูงสุด */
    overflow-y: auto;
    margin-left: 0;
    border-radius: 25px;
    
    font-family: inherit;
    line-height: 1.6;
    background-color: #e2e2e2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.payment-table {
    width: 500px;
    max-height: 400px; /* กำหนดความสูงสูงสุด */
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
    font-family: inherit;
    line-height: 1.6;
    background-color: #e2e2e2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    

}
/*ลบเส้นตาราง*/
.menutable,
.menutable th,
.menutable td,
.menutable tr {
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    text-align: left;
    width: auto;
    height: auto;
}

/*.table {
    width: auto;

    border-radius: 25px;
    border-collapse: separate;
    border-spacing: 0 0px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}*/

.menutable th {
    padding: 12px 15px;
    text-align: center;
}

.menutable th:nth-child(1) {
    width: 20px;
}

.menutable th:nth-child(2) {
    width: 200px;
}

.menutable th:nth-child(3) {
    width: 150px;
}

.menutable th:nth-child(4) {
    width: 100px;
}

.menutable th:nth-child(5) {
    width: 100px;
}


/*.menutable tbody tr:hover {
    background-color: #f1f1f1;
    border-radius: 25px;
}*/

/******************************ข้อมูลในตารkง*******************************/
.menutable td {
    padding: 12px 15px;
}
.menutable td:nth-child(1) {
    font-weight: bold;
    color: #333;
}
.menutable td:nth-child(2) {
    text-align: center;
}
.menutable td:nth-child(3) {
    text-align: center;
}
.menutable td:nth-child(4) .bordered-text {
    background-color: #f9f9f9;
    /* พื้นหลังเริ่มต้น */
    text-align: center;
    /* จัดข้อความในคอลัมน์นี้ให้อยู่กลาง */
    padding: 10px 10px;
    border-radius: 25px;
    border: 1px solid #767676;
    /* กรอบหนา 2px รอบข้อความ */
    display: inline-block;
    /* ทำให้ span ทำงานเหมือน block-level element */
}
.menutable td:nth-child(5) {
    text-align: center;
}
.menutable img {
    max-width: auto;
    border-radius: 5px;
}
/* ข้อความโชว์เวลาไม่มีรูปภาพ */
.menutable td img {
    display: block;
    margin: 0 auto;
}

/**************************************/
.paymenttable,
.paymenttable th,
.paymenttable td,
.paymenttable tr {
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    text-align: left;
    width: auto;
    height: auto;
}

.paymenttable th {
    padding: 12px 15px;
    text-align: center;
}
.paymenttable td {
    padding: 12px 15px;
}
/********************************button**************************************/
/*ปุ่มหลัก*/
.restaurantbutton {
    padding-top: 20px;
    text-align: right;
    font-family: inherit;
    margin-right: 30px;
    display: grid;
    flex-direction: column;
    /* จัดวางองค์ประกอบในแนวตั้ง */
    gap: 20px;
}


/* add payment button*/
.restaurantbutton .res-button:nth-child(1) .button {
    width: 500px;
    height: 50px;
    margin-right: 16%;
    
    background-color: #fdf4c3;
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    color: black;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.restaurantbutton .res-button:nth-child(1) .button:hover {
    background-color: #AF1F1F;
    color: white;
}

.restaurantbutton .button-group {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: right;
    margin-right: 16%;
    

}


/* edit profile button*/
.restaurantbutton .button-group .res-button:nth-child(1) .button {
    text-align: center;
    width: 240px;
    height: 50px;
    background-color: #AF1F1F;
    font-size: 20px;
    font-family: inherit;
    color: white;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* add menu button*/
.restaurantbutton .button-group .res-button:nth-child(2) .button {
    text-align: center;
    width: 240px; /*220px*/
    height: 50px;

    background-color: #AF1F1F;
    font-size: 20px;
    font-family: inherit;
    
    color: white;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.restaurantbutton .button-group .res-button:nth-child(1) .button:hover,
.restaurantbutton .button-group .res-button:nth-child(2) .button:hover {
    background-color: #fdf4c3;
    color: black;
}

