/* Basic Body Styling */
body {
    background-color: #fece6b;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar Styling */
nav {
    background-color: #b22c27;
    padding: 15px 0;
    margin-top: 25px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.menu li a:hover {
    background-color: #fdf4c3;
    color: black;
    border-radius: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    object-fit: contain;
}

/* Auth Buttons */
.auth-box {
    display: flex;
    gap: 10px;
}

.nav-login-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fcf56a;
    color: rgb(14, 0, 0);
}

.nav-login-btn:hover {
    background-color: #45a049;
}

/* Main Titles and Restaurant Section */
.title-text {
    position: absolute;
    width: 100%;
    max-width: 980px;
    top: 378px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #AF1F1F;
    letter-spacing: 0.1px;
    line-height: 31%;
    font-family: 'Montserrat', sans-serif;
}

/* Specific Title for Restaurant */
.restaurant-title {
    position: absolute;
    width: 100%;
    max-width: 980px;
    top: 468px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #AF1F1F;
    letter-spacing: 0.1px;
    line-height: 31%;
    font-family: 'Montserrat', sans-serif;
}

/* Group 6 */
.group-6 {
    position: absolute;
    width: 291px;
    height: 63px;
    left: 50%;
    top: 644px;
    transform: translateX(-50%);
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 750px) {
    .nav-con {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .title-text, .restaurant-title {
        font-size: 48px; /* Reduce size on mobile */
        top: 20px; /* Adjust top margin for small screens */
    }

    .group-6 {
        width: 100%; /* Take up full width */
        text-align: center;
    }
}
