{% extends "base_restaurant.html" %}
{% load static %}
{% block title %}
<title>KINKORN Restaurant</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index_restaurant.css' %}">
{% endblock %}

{% block content %}

<div class="welcometitle">
    <h1>Restaurant : {{ restaurant.restaurant_name }}</h1>
</div>
<status>
    <div class="statuscontainer">
        <div class="nav-con">
            <p1>Status</p1>
            <div class="step">
                <div class="statusbox">
                    <p2>0</p2> <!-- รับออเดอร์จากลูกค้า -->
                    <p>ออเดอร์เข้าใหม่</p>
                </div>
                <div class="statusbox">
                    <p2>0</p2> <!-- รับออเดอร์จากลูกค้า -->
                    <p>ที่กำลังทำ</p>
                </div>
                <div class="statusbox">
                    <p2>0</p2> <!-- รับออเดอร์จากลูกค้า -->
                    <p>ส่งมอบเสร็จสิ้น</p>
                </div>
                <div class="statusbox">
                    <p2>0</p2> <!-- รับออเดอร์จากลูกค้า -->
                    <p>รีวิวร้านของฉัน</p>
                </div>
            </div>
        </div>
        <div class="restaurantbutton">
            <div class="res-button">
                <form method="GET" action="{% url 'restaurant:manage'%}">
                    <button type="submit" class="button">จัดการร้านอาหาร</button>
                </form>
            </div>
            <div class="res-button">
                <form method="GET" action="{% url 'restaurant:sales_report'%}">
                    <button type="submit" class="button">รายรับทั้งหมด</button>
                </form>
            </div>
        </div>
    </div>
</status>





{% endblock %}