{% extends "base_restaurant.html" %}
{% load static %}

{% block title %}
<title>รายงานการขาย {{ restaurant.restaurant_name }}</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/salereport.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>รายงานการขายสำหรับร้าน {{ restaurant.restaurant_name }}</h1>
    <form method="GET" class="date-filter-form">
        <label for="start_date">เริ่มวันที่:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">

        <label for="end_date">ถึงวันที่:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">

        <button type="submit" class="button-group">ยืนยัน</button>
    </form>

    <div class="total-sales-container">
        <h2 class="total-sales-box">ยอดขายทั้งหมด: {{ total_sales }} บาท</h2>
    </div>


    <div class="orders-container">
        {% for order in orders %}
        <div class="order-wrapper">
            <!-- หมายเลขคำสั่งซื้ออยู่นอกกรอบ -->
            <p class="order-id"><strong>หมายเลขคำสั่งซื้อ:</strong> {{ order.id }}</p>

            <!-- กรอบข้อมูลคำสั่งซื้อ -->
            <div class="order-card">
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>เวลา</th>
                            <th>เมนู</th>
                            <th>จำนวน</th>
                            <th>ราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.order_items.all %}
                        <tr>
                            <td>{{ order.order_date|date:"d M Y, H:i" }}</td>
                            <td>{{ item.restaurant_menu.food_name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p><strong>ราคารวมของออเดอร์นี้:</strong> {{ order.total_price }} บาท</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
